<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <title>GameHub</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header>
    <h1>
        <a href="/">GameHub</a>
    </h1>
    <nav>
        <ul>
            <li><a rel="stylesheet" href="/game/fourchette">Jeu de la fourchette</a></li>
            <li><a rel="stylesheet" href="/game/diceRoller">Jeu Dice Roller</a></li>
        </ul>
    </nav>
</header>